/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Brand start */
.brand{
  width:775px;
}
.brand-heading{
  padding-left:190px;
} 
.brand-heading-2{
  padding-left:98px
}
.brand p{
  font-size: 20px;
  width: 100%;
}
.brand a{
  margin-left:235px;
}
/* Brand end */
/* img start */
img{
  width: 320px;
  height: 350px;
}
/* img end */
/* featurs start */
.wrapper{
  display: flex;
  flex-direction:column;
  width:575px;
}
.container-img{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left:125px;
  margin-right: 0px;
}
.container-img img{
  width: 320px;
}
.container{
  width:100%;
text-align:center;
}
/* featurs end */
/* experience start */
.experience{
  display: flex;
  flex-direction: column-reverse;
}
.experience-img img{
  width: 320px;
  height: 900px;
}
.btn{
  margin-left: 0px;
}
.experience-content{
  width: 80%;
  margin-top: 100px;
}
.experience-content h1{
  font-size: 30px;
}
/* experience end */
/* facts start */
.facts{
  width: 100%;
  margin-left: 0px;
}
/* facts end */
/* icon start */
.icon{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}
/* icon end */
/* sponser start */
.sponser-con{
  width:575px;
}
/* sponser end */
/* sponser-icon start */
.sponser-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
}
.sponser-icon img{
padding-left:40px;
}
/* sponser-icon end */
/* Footer media css */
.footer{
  width:100%;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* header start */
.brand{
  width:767px;
  margin-left:40px;
}
.brand-heading{
  padding-left:245px;
}
.brand-heading-2{
  padding-left:140px
}
.brand a{
margin-left:270px;
}
/* header end */
/* img start */
img{
  width: 570px;
  height: 375px;
}
/* img end */
/* featurs start */
.wrapper{
  display: flex;
  flex-direction: column;
}
.container-img{
  margin-left: 0px;
  margin-right: 0px;
}
.container-img img{
  width: 282px;
}
.container{
  width:100%;
  margin-top:80px;
 text-align:center;
}
 /* features end */
 /* experience start */
 .experience{
  display: flex;
  flex-direction: column-reverse;
 }
 .experience-content{
  width: 70%;
 }
 .experience-img img{
  width: 576px;
 }
 /* experience end */
 /* facts start */
 .facts{
  width: 60%;
  margin-left: 100px;
 }
 /* facts end */
 /* facts-icon start */
 .icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
 }
 /* facts-icon end */
 /* sponser start */
 .sponser-con{
  width: 80%;
 }
 /* sponser end */
 /* sponser-icon start */
 .sponser-icon{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: 50px;
 }
 /* sponser-icon end */ 
 /* footer media css */
 .footer{
  width:100%;
 }
}
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
  /* header start */
  .brand{
  width:991px;
  }
  .brand-heading{
    padding-left:400px;
  }
  .brand-heading-2{
    padding-left:298px
  }
  .brand a{
    margin-left:400px;
  }
  /* header end */
  /* img start */
  img{
    width: 680px;
    height: 400px;
  }
  /* img end */
  /* features start */
  .wrapper{
    display:flex ;
    flex-direction:column;
  }
  .container-img{
    margin-left: 79px;
    margin-right: 80px;
    margin-bottom: 30px;
  }
  .container{
    width: 100%;
    margin-top: 35px;
    margin-left: 50px;
    margin-left: 115px;
  }
  /* features end */
  /* experience start */
  .experience{
    display: flex;
 flex-direction: column-reverse;
  }
  .experience-content{
    width: 70%;
  }
  .experience-img{
    margin-bottom: 30px;
  }
  /* experience end */
  /* icon start */
  .icon{
    display: flex;
  /* margin-left: 20px; */
  }
  /* icon end */
  /* sponser start */
  .sponser-con{
    width: 52%;
  }
  /* sponser end */
  /* sponser-icon start */
  .sponser-icon{
    width:100%;
  }
  .sponser-icon img{
    /* margin-left: 54px; */
  }
  /* sponser-icon end */
  /* Footer media css */
  .footer{
   text-align:center;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* header start */
  .brand{
    width: 56%;
  }
  .brand-heading{
    padding-left: 152px;
  }
  .brand-heading-2{
    font-size: 40px;
  }  
  /* header end */
  /* img start */
  img{
    width: 890px;
    height: 460px;
  }
  /* img end */
  /* features start */
  .container-img{
    margin-left: 50px;
    margin-right: 27px;
  }
  /* features end */
  /* experience start */
  .experience-content h1{
    font-size: 30px;
  }
  .experience-content p{
    padding-left: 23px;
  }
  .service p{
    padding-left: 0px;
  }
  /* experience end */
  /* sponser start */
  .sponser-con{
    width: 37%;
  }
  /* sponser end */
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){
  /* features start */
  .container-img{
    margin-left: 78px;
    margin-right: 48px;
  }
  /* features end */
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
}